body {
    text-align: center; color: antiquewhite; 
    background-color: rgb(44, 42, 42);
    background-image: -webkit-image-set()

}
header ul {
    text-align: left;


}
.btn {
padding: 10px 8px;
width: 50px;
text-align: unset;
color: rgb(173, 1, 107);
background: blueviolet;
border: 1px solid;
cursor: pointer
}
.btn:hover {
background: #111;

}










